//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package azopenai

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/to"
)

// ChatCompletionsClient contains the methods for the ChatCompletions group.
// Don't use this type directly, use NewChatCompletionsClient() instead.
type ChatCompletionsClient struct {
	endpoint string
	apiKey   *APIKeyClient
	internal *arm.Client
}

// NewChatCompletionsClient creates a new instance of ChatCompletionsClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewChatCompletionsClient(endpoint string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ChatCompletionsClient, error) {
	cl, err := arm.NewClient(moduleName+".ChatCompletionsClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ChatCompletionsClient{
		endpoint: endpoint,
		internal: cl,
	}
	return client, nil
}

// NewChatCompletionsClientFromAPIKey creates a new instance of ChatCompletionsClient with the specified values.
//   - apiKey - used to authorize requests.
func NewChatCompletionsClientFromAPIKey(endpoint string, apiKey string, options *policy.ClientOptions) (*ChatCompletionsClient, error) {
	return &ChatCompletionsClient{
		endpoint: endpoint,
		apiKey:   NewAPIKeyClient(apiKey, options),
	}, nil
}

// Create - Creates a completion for the chat message
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-03-15-preview
//   - options - ChatCompletionsClientCreateOptions contains the optional parameters for the ChatCompletionsClient.Create method.
func (client *ChatCompletionsClient) Create(ctx context.Context, deploymentID string, body ChatCompletionsCreateParameters, options *ChatCompletionsClientCreateOptions) (ChatCompletionsClientCreateResponse, error) {
	req, err := client.createCreateRequest(ctx, deploymentID, body, options)
	if err != nil {
		return ChatCompletionsClientCreateResponse{}, err
	}
	resp, err := getPipeline(client.apiKey, client.internal).Do(req)
	if err != nil {
		return ChatCompletionsClientCreateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return ChatCompletionsClientCreateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createHandleResponse(resp)
}

// CreateStream - Creates a completion for the chat message in stream
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-03-15-preview
//   - options - ChatCompletionsClientCreateOptions contains the optional parameters for the ChatCompletionsClient.CreateStream method.
func (client *ChatCompletionsClient) CreateStream(ctx context.Context, deploymentID string, body ChatCompletionsCreateParameters, options *ChatCompletionsClientCreateOptions) (ChatCompletionsClientCreateStreamResponse, error) {
	body.Stream = to.Ptr(true) // ensure the request has { "stream": true }
	req, err := streamRequest(client.createCreateRequest(ctx, deploymentID, body, options))
	if err != nil {
		return ChatCompletionsClientCreateStreamResponse{}, err
	}
	resp, err := getPipeline(client.apiKey, client.internal).Do(req)
	if err != nil {
		return ChatCompletionsClientCreateStreamResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return ChatCompletionsClientCreateStreamResponse{}, runtime.NewResponseError(resp)
	}
	return client.createHandlerResponseStream(resp)
}

// createCreateRequest creates the Create request.
func (client *ChatCompletionsClient) createCreateRequest(ctx context.Context, deploymentID string, body ChatCompletionsCreateParameters, options *ChatCompletionsClientCreateOptions) (*policy.Request, error) {
	host := "https://{endpoint}/openai"
	host = strings.ReplaceAll(host, "{endpoint}", client.endpoint)
	urlPath := "/deployments/{deployment-id}/chat/completions"
	if deploymentID == "" {
		return nil, errors.New("parameter deploymentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{deployment-id}", url.PathEscape(deploymentID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-03-15-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, body)
}

// createHandleResponse handles the Create response.
func (client *ChatCompletionsClient) createHandleResponse(resp *http.Response) (ChatCompletionsClientCreateResponse, error) {
	result := ChatCompletionsClientCreateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ChatCompletions); err != nil {
		return ChatCompletionsClientCreateResponse{}, err
	}
	return result, nil
}

// createHandlerResponseStream handles the CreateStream response.
func (client *ChatCompletionsClient) createHandlerResponseStream(resp *http.Response) (ChatCompletionsClientCreateStreamResponse, error) {
	return ChatCompletionsClientCreateStreamResponse{
		StreamReader: &StreamReader[ChatCompletions]{
			Reader: resp.Body,
		},
	}, nil
}
