//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package azopenai

import (
	"context"
	"errors"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
)

// ChatCompletionsClient contains the methods for the ChatCompletions group.
// Don't use this type directly, use NewChatCompletionsClient() instead.
type ChatCompletionsClient struct {
	internal *arm.Client
}

// NewChatCompletionsClient creates a new instance of ChatCompletionsClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewChatCompletionsClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*ChatCompletionsClient, error) {
	cl, err := arm.NewClient(moduleName+".ChatCompletionsClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ChatCompletionsClient{
		internal: cl,
	}
	return client, nil
}

// Create - Creates a completion for the chat message
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-03-15-preview
//   - options - ChatCompletionsClientCreateOptions contains the optional parameters for the ChatCompletionsClient.Create method.
func (client *ChatCompletionsClient) Create(ctx context.Context, deploymentID string, body Paths1L1E8YpDeploymentsDeploymentIDChatCompletionsPostRequestbodyContentApplicationJSONSchema, options *ChatCompletionsClientCreateOptions) (ChatCompletionsClientCreateResponse, error) {
	req, err := client.createCreateRequest(ctx, deploymentID, body, options)
	if err != nil {
		return ChatCompletionsClientCreateResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ChatCompletionsClientCreateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return ChatCompletionsClientCreateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createHandleResponse(resp)
}

// createCreateRequest creates the Create request.
func (client *ChatCompletionsClient) createCreateRequest(ctx context.Context, deploymentID string, body Paths1L1E8YpDeploymentsDeploymentIDChatCompletionsPostRequestbodyContentApplicationJSONSchema, options *ChatCompletionsClientCreateOptions) (*policy.Request, error) {
	host := "https://{endpoint}/openai"
	host = strings.ReplaceAll(host, "{endpoint}", endpoint)
	urlPath := "/deployments/{deployment-id}/chat/completions"
	if deploymentID == "" {
		return nil, errors.New("parameter deploymentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{deployment-id}", url.PathEscape(deploymentID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-03-15-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, body)
}

// createHandleResponse handles the Create response.
func (client *ChatCompletionsClient) createHandleResponse(resp *http.Response) (ChatCompletionsClientCreateResponse, error) {
	result := ChatCompletionsClientCreateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Paths1H0F83DeploymentsDeploymentIDChatCompletionsPostResponses200ContentApplicationJSONSchema); err != nil {
		return ChatCompletionsClientCreateResponse{}, err
	}
	return result, nil
}
